<!DOCTYPE html>
<html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>

<p>Try to change the names.</p>

<div ng-app="myApp" ng-controller="myCtrl">

<!- br is a return->

First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName + " " + lastName}}

</div>

<script>
// angular module definition
var app = angular.module('myApp', []);
// angular controler definition
app.controller('myCtrl', function($scope) {
    $scope.firstName= "Tim";
    $scope.lastName= "Jia";
});
</script>

</body>
</html>



